<div class="blank-slate-pf" [class.dragging]="dragging"
     (dragover)="onDragOver($event)" (drop)="onDrop($event)"
     (dragend)="onDragEnd($event)" (dragexit)="onDragEnd($event)" (dragleave)="onDragEnd($event)">
    <div class="blank-slate-pf-icon">
        <span class="pficon pficon pficon-add-circle-o"></span>
    </div>
    <h1>
        Welcome to Apicurito
    </h1>
    <p>
        Design beautiful, functional APIs with zero coding, using a visual designer for OpenAPI documents.
    </p>
    <p>
        Learn more about the <a href="https://www.apicur.io/">Apicurio project</a>.
    </p>
    <div class="blank-slate-pf-main-action">
        <div class="btn-group">
            <button type="button" class="btn btn-lg btn-primary" (click)="createNewApi()">New API</button>
            <button type="button" class="btn btn-lg btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li><a (click)="createNewApi('2.0')">New (OpenAPI 2)</a></li>
                <li><a (click)="createNewApi()">New (OpenAPI 3)</a></li>
            </ul>
        </div>
        <span>&nbsp;</span>
        <button class="btn btn-default btn-lg btn-load" (click)="openExistingApi()">Open API</button>

        <div class="recovery-notice" *ngIf="hasRecoverableApi()">
            <div class="alert alert-warning">
                <span class="pficon pficon-warning-triangle-o"></span>
                <strong>In-Progress API Detected!</strong>
                <span>&nbsp;</span>
                <span>It looks like you have an unfinished API.</span>
                <span>&nbsp;</span>
                <a (click)="reoverApi()" class="alert-link">Recover my API</a>
            </div>
        </div>

        <div class="dnd-notification">Or drag and drop a file onto the page...</div>
        <div>
            <div class="alert alert-danger" *ngIf="error !== null">
                <span class="pficon pficon-error-circle-o"></span>
                <strong>Error Detected!</strong>
                <span>&nbsp;</span>
                <span>{{ error }}</span>
            </div>
        </div>
    </div>
    <div class="hidden">
        <input #loadfile type="file" id="load-file" name="load-file" (change)="onFileOpened($event)">
    </div>
</div>
