<div class="app-editor" id="app-editor">
    <div class="actionbar">
        <!-- Save Button -->
        <!--<button class="btn btn-lg btn-primary btn-save" (click)="save()">Save</button>-->
        <div class="btn-group">
            <button type="button" class="btn btn-lg btn-primary" (click)="save('yaml')">Save As...</button>
            <button type="button" class="btn btn-lg btn-primary dropdown-toggle btn-save" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li><a (click)="save('yaml')">Save as YAML</a></li>
                <li><a (click)="save('json')">Save as JSON</a></li>
            </ul>
        </div>

        <!-- Close Button -->
        <button class="btn btn-lg btn-default btn-close" data-toggle="modal" data-target="#close-modal">Close</button>
        <span class="vertical-divider"></span>

        <!-- Generate Project Button -->
        <div class="btn-group dropdown" dropdown>
            <button type="button" class="btn btn-lg btn-default dropdown-toggle" dropdownToggle>
                <span *ngIf="!generating">
                    <span>Generate</span>
                </span>
                <span *ngIf="generating"><span class="spinner spinner-xs spinner-inline"></span> Generating</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                <li *ngFor="let g of config.generators"><a (click)="generate(g)">{{ g.name }}</a></li>
            </ul>
        </div>
    </div>
    <div class="editor">
        <api-editor #apiEditor [api]="api" [embedded]="true" (onCommandExecuted)="documentChanged()"
                    (onUndo)="documentChanged()" (onRedo)="documentChanged()"
                    [validationRegistry]="validation" (onConfigureValidation)="configureValidationDialog.open()" ></api-editor>
    </div>

    <!-- Inline Notification: Generation Success -->
    <div class="alert-global alert alert-success alert-dismissable" [class.shown]="showSuccessToast">
        <button type="button" class="close" (click)="closeSuccessToast()">
            <span class="pficon pficon-close"></span>
        </button>
        <span class="pficon pficon-ok"></span>
        <strong>Success!</strong> The project has been successfully generated.
    </div>

    <!-- Inline Notification: Generation Failed -->
    <div class="alert-global alert alert-danger alert-dismissable" [class.shown]="showErrorToast">
        <button type="button" class="close" (click)="closeErrorToast()">
            <span class="pficon pficon-close"></span>
        </button>
        <span class="pficon pficon-error-circle-o"></span>
        Failed to generate the project.
    </div>

</div>
<div class="confirm-close-modal modal fade" id="close-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <span class="pficon pficon-close"></span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Close API</h4>
            </div>
            <div class="modal-body">
                <h2 class="about-title">Save changes before closing?</h2>
                <div>
                    Save changes to the API before closing?
                    Not saving changes will result in any changes being lost.
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger"
                        (click)="close()" data-dismiss="modal">Don't Save</button>
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary"
                        (click)="saveAndClose()" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>
<configure-validation-dialog #configureValidationDialog [validationEnabled]="validation === null"
                             (onChange)="setValidation($event)"></configure-validation-dialog>
