<div class="app-editor">
    <div class="actionbar">
        <button class="btn btn-lg btn-primary btn-save" (click)="save()">Save</button>
        <button class="btn btn-lg btn-default btn-reset" data-toggle="modal" data-target="#reset-modal">Close</button>
        <span class="vertical-divider"></span>

        <div class="btn-group dropdown" dropdown>
            <button type="button" class="btn btn-lg btn-default dropdown-toggle" dropdownToggle title="{{ generateError }}">
                <span *ngIf="!generating">
                    <span *ngIf="generateError" class="pficon pficon-error-circle-o"></span>
                    <span>Generate</span>
                </span>
                <span *ngIf="generating"><span class="spinner spinner-xs spinner-inline"></span> Generating</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                <li *ngFor="let g of config.generators"><a (click)="generate(g)">{{ g.name }}</a></li>
            </ul>
        </div>
    </div>
    <div class="editor">
        <api-editor #apiEditor [api]="api" [embedded]="true"></api-editor>
    </div>
</div>
<div class="modal fade" id="reset-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <confirmation-modal
                (confirmation)="$event && reset()"
                title="Confirm Close"
                message="Are you sure?"
                cancelText="No"
                okText="Yes">
                <p>
                    Are you sure you want to close your API design? You will lose all unsaved changes.
                </p>
            </confirmation-modal>
        </div>
    </div>
</div>
