#app-editor {
  font-size: 13px;
}

.app-editor {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.app-editor .actionbar {
  border-bottom: 1px solid #ddd;
  padding: 5px;
  padding-right: 20px;
  text-align: right;
}
.app-editor .actionbar .btn-save {
  margin-right: 5px;
}

.app-editor .editor {
  flex-grow: 1;
  position: relative;
}

.app-editor .vertical-divider {
  border-right: 1px solid #d1d1d1;
  margin-right: 10px;
  margin-left: 7px;
  height: 22px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.app-editor .btn-group .dropdown-menu li a {
  cursor: pointer;
}

.confirm-close-modal .modal-footer .btn-danger {
  float: left;
}

.alert-global {
  position: absolute;
  max-width: 500px;
  top: -100px;
  left: 20px;
  opacity: 0;
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -ms-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out;
}
.alert-global.shown {
  top: 4px;
  left: 20px;
  opacity: 1;
}
